.homePage{
    display: flex;
    margin: 5 5px;
    gap: 20px;
}

.itineraryWindow{
    background: white;
    width: 60%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
}

.options{
    background: white;
    width: 40%;
    height: 50%;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
}